* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #F5F5F5;
    margin: 10px;
}

nav {
    margin-bottom: 50px;
}

input {
    margin: 20px;
    font-size: 25px;
}

h4{
    margin: auto;
}

table {
    width: 100%;
}

tr{
    height: 45px;
    border-bottom: 1px solid #ddd;
}

.ranking {
    font-size: 35px;
}

.hidden {
    display: none;
}

div h2{
    font-size: 102%;
    margin: 41px auto;
}



@media only screen and (min-width: 900px) {
    div h2{
        font-size: 154%;
    }
}